.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

#contact iframe {
    width: 100%;
    margin-top: 100px;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

#contact {
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

#videos {
    margin-top: 400px;
    margin-left: 15px;
}

#news {

    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
}

.travel_mainDiv {
    border: 1px solid #c7c7c7;
    float: none;
    padding-left: 25px;
    padding-right: 25px;

}

.newsstx img {
    width: 25%;
    height: 25%;
}

.newsstx hr {
    width: 230px;
}

.newsstx h2,
.newsstx p {
    margin-left: 15px;
}



.img_stx_abt {
    text-align: center
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.travel_maindiv {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}

.travel_maindiv h5,
.travel_maindiv p,
travel_maindiv img,
travel_maindiv h4 {
    margin-left: 25px;
}

#campus {
    margin-top: 200px;

}

.travel_maindiv img {
    width: 100%;
    height: 300;

}

#whatsnew {
    margin-left: 15px;
    margin-top: 200px;
    margin-bottom: 50px;
}
